<div
    class="fixed inset-0 z-50 flex items-center justify-center overflow-x-hidden overflow-y-auto outline-none focus:outline-none bg-black bg-opacity-50">
    <div class="relative w-full max-w-md mx-auto my-6">
        <div class="relative flex flex-col w-full bg-white border-0 rounded-lg shadow-lg outline-none focus:outline-none">
            <!-- Dialog header -->
            <div class="flex items-center justify-between p-2 bg-gray-0  ">
                <h3 class="text-2xl font-semibold text-gray-800">
                    Visualiser
                </h3>
                <button type="button" mat-dialog-close color="warn"
                    class="p-1 ml-3 bg-transparent border-0 text-gray-600 hover:text-red-600 transition-colors duration-200 ease-in-out text-3xl leading-none font-semibold outline-none focus:outline-none">
                    <span class="flex items-center justify-center h-6 w-6">
                        <mat-icon svgIcon="heroicons_outline:x-mark"
                            class="text-gray-600 hover:text-red-600 transition-colors duration-200 ease-in-out">
                        </mat-icon>
                    </span>
                </button>
            </div>

            <!-- Line separator -->
            <div class="w-full h-1" style="background: linear-gradient(to right, #ffc107, #007bff);">
            </div>

            <!-- Dialog content -->
            <div class="relative p-2 flex-auto">

            </div>



             <!-- Line separator -->
             <div class="w-full h-0.5" style="background: linear-gradient(to right, #ffc107, #007bff);">
            </div>
            <!-- Dialog footer -->
            <div class="flex items-center justify-center p-2  border-solid border-gray-300 rounded-b">
                <!-- Anuler Button with Icon -->

                <button mat-flat-button type="button" mat-dialog-close color="warn"
                    class="px-6 ml-3 mdc-button mdc-button--unelevated mat-mdc-unelevated-button mat-mdc-button-base"
                    mat-ripple-loader-class-name="mat-mdc-button-ripple">
                    <span class="mat-mdc-button-persistent-ripple mdc-button__ripple"></span>
                    <span class="mdc-button__label">Anuler</span>
                    <span class="mat-mdc-focus-indicator"></span>
                    <span class="mat-mdc-button-touch-target"></span>
                    <span class="mat-ripple mat-mdc-button-ripple"></span>
                    <mat-icon svgIcon="heroicons_outline:x-mark" class="mr-2 text-white"></mat-icon>
                </button>


                <!-- Modifier Button with Icon -->

                <button mat-flat-button=""
                    class="px-6 ml-3 mdc-button mdc-button--unelevated mat-mdc-unelevated-button mat-primary mat-mdc-button-base"
                    mat-ripple-loader-class-name="mat-mdc-button-ripple" ng-reflect-color="primary"><span
                        class="mat-mdc-button-persistent-ripple mdc-button__ripple"></span><span
                        class="mdc-button__label"> Modifier </span><span class="mat-mdc-focus-indicator"></span><span
                        class="mat-mdc-button-touch-target"></span><span
                        class="mat-ripple mat-mdc-button-ripple"></span>
                    <mat-icon svgIcon="heroicons_solid:check-badge" class="mr-2"></mat-icon>
                </button>
            </div>

        </div>
    </div>
</div>
