
<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden">
    <mat-drawer-container class="flex-auto h-full bg-card dark:bg-transparent">
         <!-- Drawer -->
        <mat-drawer #matDrawer class="w-full sm:w-100 dark:bg-gray-900" [mode]="drawerMode" [opened]="false"
        [position]="'end'" [disableClose]="false">
        <div class="p-4">
            <!-- Close Button -->
            <button mat-icon-button color="warn" (click)="closeDrawer()">
                <mat-icon>close</mat-icon>
            </button>
            <!-- Display your data here -->
            <div>
                <div class="flex flex-col flex-auto p-2 md:p-8">
                    <!-- Information -->
                    <div class="text-lg font-medium mt-8">
                        <i class="fa-solid fa-circle-info"></i>
                        Détails</div>
                    <div class="flex flex-col mt-4 border-t border-b divide-y font-medium">
                        <div class="flex items-center justify-between py-3">
                            <div class="text-secondary">Type :</div>
                            <div> document test</div>
                        </div>
                        <div class="flex items-center justify-between py-3">
                            <div class="text-secondary">Réference :</div>
                            <div>233123</div>
                        </div>
                        <div class="flex items-center justify-between py-3">
                            <div class="text-secondary">Titre :</div>
                            <div>ehhhhh</div>
                        </div>
                        <div class="flex items-center justify-between py-3">
                            <div class="text-secondary">Qualité :</div>
                            <div>kkkk</div>
                        </div>
                        <ng-container>
                            <div class="flex items-center justify-between py-3">
                                <div class="text-secondary">Date d'enregistrement :</div>
                                <div>27-08-2024</div>
                            </div>
                        </ng-container>
                    </div>

                </div>
            </div>
        </div>
        </mat-drawer>
        <!-- End Drawer -->
        <mat-drawer-content class="flex flex-col bg-gray-100 dark:bg-transparent">
            <!-- Main -->
            <div class="flex flex-col flex-auto">
                <!-- Header -->
               <div class="flex items-center justify-between  sm:p-1 border-b bg-card dark:bg-transparent">
                <div class="flex items-center">
                    <!-- Button with Dark Mode Color -->
                    <button  mat-flat-button class="bg-accent text-on-accent mr-2">
                        <mat-icon class="icon-size-5" svgIcon="feather:corner-up-left"></mat-icon>
                        <ng-container *transloco="let t">
                            <span class="ml-2 hidden sm:inline">Reteur</span>
                        </ng-container>
                    </button>

                    <!-- Gradient Vertical Separator -->
                    <div class="mr-2 h-8 w-0.5 bg-gradient-to-t from-blue-500 to-blue-700"></div>

                    <!-- Title (Responsive text size) -->
                    <div class="text-sm sm:text-lg md:text-xl font-extrabold tracking-tight leading-none">
                        Exporter File :
                    </div>

                </div>

                <!-- Right Section: Folders/Files Info or Breadcrumbs -->
                <div
                    class="flex flex-col sm:flex-row items-start sm:items-center font-normal text-secondary text-sm sm:text-base">
                    <ng-container>
                        <div>Total : 4</div>
                    </ng-container>
                </div>
            </div>
            <!-- End Header -->

                <!-- Line separator -->
                <div class="w-full h-2 border-t-2" style="background: linear-gradient(to right, #ffc107, #007bff);">
                </div>

                <!-- Reports -->
                <mat-tab-group class="sm:px-2" mat-stretch-tabs="false" [animationDuration]="'0'">
                    <mat-tab label="Reports">
                        <ng-template matTabContent>
                            <div class="flex justify-center items-center ">
                                <div class="dialog-container relative">
                                    <div class="flex items-center justify-between bg-gray-2">
                                        <button *ngIf="isChecked" mat-raised-button color="primary" class="flex items-center">
                                            <i class="fa-solid fa-download primary-color"></i>
                                            Exporter
                                        </button>
                                    </div>

                                    <div class="container mt-2">
                                        <table class="table" mat-table [dataSource]="documents">
                                            <ng-container matColumnDef="select">
                                                <th mat-header-cell *matHeaderCellDef class="text-left">Selectioner</th>
                                                <td mat-cell *matCellDef="let row">
                                                    <mat-checkbox (change)="onCheckboxChange($event)"></mat-checkbox>
                                                </td>
                                            </ng-container>

                                            <ng-container matColumnDef="document">
                                                <th mat-header-cell *matHeaderCellDef class="text-left">Document</th>
                                                <td mat-cell *matCellDef="let element">
                                                    <mat-icon class="text-red-500">picture_as_pdf</mat-icon>
                                                </td>
                                            </ng-container>


                                            <ng-container matColumnDef="type">
                                                <th mat-header-cell *matHeaderCellDef class="text-left">Type</th>
                                                <td mat-cell *matCellDef="let element">{{ element.type }}</td>
                                            </ng-container>


                                            <ng-container matColumnDef="date">
                                                <th mat-header-cell *matHeaderCellDef class="text-center">Date d'enregistrement</th>
                                                <td mat-cell *matCellDef="let element">{{ element.date | date:'dd/MM/yyyy HH:mm:ss' }}</td>
                                            </ng-container>


                                            <ng-container matColumnDef="actions">
                                                <th mat-header-cell *matHeaderCellDef class="text-center">Actions</th>
                                                <td mat-cell *matCellDef="let element" class="flex items-center justify-center">
                                                    <button mat-icon-button>
                                                        <i class="fa-solid fa-envelope icon-size-4 primary-color mr-2"></i>
                                                    </button>
                                                    <button mat-icon-button>
                                                        <i class="fa-solid fa-download icon-size-4 primary-color mr-2"></i>
                                                    </button>
                                                    <button mat-icon-button>
                                                        <i class="fa-solid fa-share-nodes icon-size-4 primary-color mr-2"></i>
                                                    </button>


                                                    <button mat-icon-button [matMenuTriggerFor]="moreMenu">
                                                        <i class="fa-solid fa-caret-down icon-size-4 primary-color"></i>
                                                    </button>
                                                    <mat-menu #moreMenu="matMenu">
                                                        <button mat-menu-item>
                                                            <i class="fa-solid fa-code-branch icon-size-4 primary-color mr-2"></i>
                                                            Anciennes Versions
                                                        </button>
                                                        <button mat-menu-item (click)="detacher(element)">
                                                            <i class="fa-solid fa-link-slash icon-size-4 primary-color mr-2"></i>
                                                            <span>Detacher</span>
                                                        </button>
                                                        <button mat-menu-item (click)="deplacer(element)">
                                                            <i class="fa-solid fa-scissors icon-size-4 primary-color gold-color"></i>
                                                            <span>Deplacer</span>
                                                        </button>
                                                        <button mat-menu-item (click)="supprimer(element)">
                                                            <i class="fa-solid fa-trash icon-size-4 red-color gold-color"></i>
                                                            <span>Supprimer</span>
                                                        </button>
                                                    </mat-menu>
                                                </td>
                                            </ng-container>


                                            <ng-container matColumnDef="proprietaire">
                                                <th mat-header-cell *matHeaderCellDef class="text-left">Propriétaire</th>
                                                <td mat-cell *matCellDef="let element">{{ element.proprietaire }}</td>
                                            </ng-container>


                                            <ng-container matColumnDef="details">
                                                <th mat-header-cell *matHeaderCellDef>Détails</th>
                                                <td mat-cell *matCellDef="let element">

                                                    <button class="min-w-10 min-h-6 h-6 px-2"
                                                        (click)="openDetailsFile(1)">
                                                        <i class="fa-solid fa-circle-info icon-size-5 primary-color"></i>
                                                    </button>
                                                </td>
                                            </ng-container>
                                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                        </table>
                                    </div>

                                    <div class="dialog-footer flex justify-end mt-3">

                                    </div>

                                </div>
                            </div>
                        </ng-template>
                    </mat-tab>
                </mat-tab-group>


                <!-- End Recherches frequentes-->
                <!-- No Data template -->
                <ng-template #NoData>
                    <div class="flex flex-auto flex-col items-center justify-center bg-gray-100 dark:bg-transparent">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                            width="100px" height="100px" viewBox="0,0,256,256">
                            <defs>
                                <linearGradient x1="24" y1="6.708" x2="24" y2="14.977" gradientUnits="userSpaceOnUse"
                                    id="color-1">
                                    <stop offset="0" stop-color="#f5b92b"></stop>
                                    <stop offset="1" stop-color="#c28200"></stop>
                                </linearGradient>
                                <linearGradient x1="24" y1="10.854" x2="24" y2="40.983" gradientUnits="userSpaceOnUse"
                                    id="color-2">
                                    <stop offset="0" stop-color="#ffd869"></stop>
                                    <stop offset="1" stop-color="#f6bf29"></stop>
                                </linearGradient>
                                <linearGradient x1="20.398" y1="20.086" x2="28.857" y2="33.113"
                                    gradientUnits="userSpaceOnUse" id="color-3">
                                    <stop offset="0" stop-color="#f44f5a"></stop>
                                    <stop offset="0.443" stop-color="#ee3d4a"></stop>
                                    <stop offset="1" stop-color="#e52030"></stop>
                                </linearGradient>
                            </defs>
                            <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
                                stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0"
                                font-family="none" font-weight="none" font-size="none" text-anchor="none"
                                style="mix-blend-mode: normal">
                                <g transform="scale(5.33333,5.33333)">
                                    <path
                                        d="M24.414,10.414l-2.536,-2.536c-0.562,-0.562 -1.325,-0.878 -2.121,-0.878h-14.757c-1.105,0 -2,0.895 -2,2v30c0,1.105 0.895,2 2,2h38c1.105,0 2,-0.895 2,-2v-26c0,-1.105 -0.895,-2 -2,-2h-17.172c-0.53,0 -1.039,-0.211 -1.414,-0.586z"
                                        fill="url(#color-1)"></path>
                                    <path
                                        d="M21.586,14.414l3.268,-3.268c0.093,-0.093 0.22,-0.146 0.353,-0.146h17.793c1.105,0 2,0.895 2,2v26c0,1.105 -0.895,2 -2,2h-38c-1.105,0 -2,-0.895 -2,-2v-23.5c0,-0.276 0.224,-0.5 0.5,-0.5h16.672c0.53,0 1.039,-0.211 1.414,-0.586z"
                                        fill="url(#color-2)"></path>
                                    <path
                                        d="M24,23.25c0,0 2.015,-2.25 4.5,-2.25c2.485,0 4.5,2.042 4.5,4.5c0,4.23 -6.628,9.059 -8.508,10.344c-0.298,0.204 -0.685,0.204 -0.983,0c-1.881,-1.285 -8.509,-6.114 -8.509,-10.344c0,-2.458 2.015,-4.5 4.5,-4.5c2.485,0 4.5,2.25 4.5,2.25z"
                                        fill="url(#color-3)"></path>
                                </g>
                            </g>
                        </svg>
                        <div class="mt-4 text-2xl font-semibold tracking-tight text-secondary">
                            Aucun courrier a Mon Equipe!
                        </div>
                    </div>
                </ng-template>
                <!-- End No Data template -->
            </div>
        </mat-drawer-content>
    </mat-drawer-container>
</div>






